{% extends 'base.html' %}
{% load static %}
{% block asia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummerStride | Shoes Store</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="assets/hover-master/css/hover-min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/tmplt/css/templatemo.css">
    <link rel="stylesheet" href="assets/tmplt/css/custom.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>

<br>
<br>

 <!-- Order Form Start -->

 <section class="contact-content">
    <div class="container-fluid bg-light py-5">
        <div class="col-md-8 m-auto text-center text-black">
            <h3 class="display-3">Submit An Order</h3>
        </div>
    </div>
</section>

 <div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">
            <div class="row">
            </div>
            <div class="mb-3">
                <label for="inputsubject">First Name</label>
                <input type="text" class="form-control mt-1" id="first-name" name="first--name" placeholder="First Name" required>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Last Name</label>
                <input type="text" class="form-control mt-1" id="last-name" name="last-name" placeholder="Last Name" required>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Email Address</label>
                <input type="text" class="form-control mt-1" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Phone Number</label>
                <input type="text" class="form-control mt-1" id="phone" name="phone" placeholder="Phone Number" required>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Country</label>
                <select id="disabledSelect" class="form-select" required>
                    <option>Algeria</option>
                    <option>Angola</option>
                    <option>Benin</option>
                    <option>Botswana</option>
                    <option>Burkina Faso</option>
                    <option>Burundi</option>
                    <option>Cameroon</option>
                    <option>Cape Verde</option>
                    <option>Central African Republic</option>
                    <option>Chad</option>
                    <option>Comoros</option>
                    <option>Democratic Republic of the Congo</option>
                    <option>Djibouti</option>
                    <option>Egypt</option>
                    <option>Equatorial Guinea</option>
                    <option>Eritrea</option>
                    <option>Eswatini (formerly Swaziland)</option>
                    <option>Ethiopia</option>
                    <option>Gabon</option>
                    <option>Gambia</option>
                    <option>Ghana</option>
                    <option>Guinea</option>
                    <option>Guinea-Bissau</option>
                    <option>Ivory Coast (Côte d'Ivoire)</option>
                    <option>Kenya</option>
                    <option>Lesotho</option>
                    <option>Liberia</option>
                    <option>Libya</option>
                    <option>Madagascar</option>
                    <option>Malawi</option>
                    <option>Mali</option>
                    <option>Mauritania</option>
                    <option>Mauritius</option>
                    <option>Morocco</option>
                    <option>Mozambique</option>
                    <option>Namibia</option>
                    <option>Niger</option>
                    <option>Nigeria</option>
                    <option>Republic of the Congo</option>
                    <option>Rwanda</option>
                    <option>São Tomé and Príncipe</option>
                    <option>Senegal</option>
                    <option>Seychelles</option>
                    <option>Sierra Leone</option>
                    <option>Somalia</option>
                    <option>South Africa</option>
                    <option>South Sudan</option>
                    <option>Sudan</option>
                    <option>Tanzania</option>
                    <option>Togo</option>
                    <option>Tunisia</option>
                    <option>Uganda</option>
                    <option>Zambia</option>
                    <option>Zimbabwe</option>
                    <option>Afghanistan</option>
                    <option>Armenia</option>
                    <option>Azerbaijan</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Bhutan</option>
                    <option>Brunei</option>
                    <option>Cambodia</option>
                    <option>China</option>
                    <option>Cyprus</option>
                    <option>Georgia</option>
                    <option>India</option>
                    <option>Indonesia</option>
                    <option>Iran</option>
                    <option>Iraq</option>
                    <option>Israel</option>
                    <option>Japan</option>
                    <option>Jordan</option>
                    <option>Kazakhstan</option>
                    <option>Kuwait</option>
                    <option>Kyrgyzstan</option>
                    <option>Laos</option>
                    <option>Lebanon</option>
                    <option>Malaysia</option>
                    <option>Maldives</option>
                    <option>Mongolia</option>
                    <option>Myanmar (Burma)</option>
                    <option>Nepal</option>
                    <option>North Korea</option>
                    <option>Oman</option>
                    <option>Pakistan</option>
                    <option>Palestine</option>
                    <option>Philippines</option>
                    <option>Qatar</option>
                    <option>Russia</option>
                    <option>Saudi Arabia</option>
                    <option>Singapore</option>
                    <option>South Korea</option>
                    <option>Sri Lanka</option>
                    <option>Syria</option>
                    <option>Taiwan</option>
                    <option>Tajikistan</option>
                    <option>Thailand</option>
                    <option>Timor-Leste</option>
                    <option>Turkey</option>
                    <option>Turkmenistan</option>
                    <option>United Arab Emirates</option>
                    <option>Uzbekistan</option>
                    <option>Vietnam</option>
                    <option>Yemen</option>
                    <option>Albania</option>
                    <option>Andorra</option>
                    <option>Austria</option>
                    <option>Belarus</option>
                    <option>Belgium</option>
                    <option>Bosnia and Herzegovina</option>
                    <option>Bulgaria</option>
                    <option>Croatia</option>
                    <option>Czech Republic</option>
                    <option>Denmark</option>
                    <option>Estonia</option>
                    <option>Finland</option>
                    <option>France</option>
                    <option>Germany</option>
                    <option>Greece</option>
                    <option>Hungary</option>
                    <option>Iceland</option>
                    <option>Ireland</option>
                    <option>Italy</option>
                    <option>Kosovo</option>
                    <option>Latvia</option>
                    <option>Liechtenstein</option>
                    <option>Lithuania</option>
                    <option>Luxembourg</option>
                    <option>Malta</option>
                    <option>Moldova</option>
                    <option>Monaco</option>
                    <option>Montenegro</option>
                    <option>Netherlands</option>
                    <option>North Macedonia</option>
                    <option>Norway</option>
                    <option>Poland</option>
                    <option>Portugal</option>
                    <option>Romania</option>
                    <option>San Marino</option>
                    <option>Serbia</option>
                    <option>Slovakia</option>
                    <option>Slovenia</option>
                    <option>Spain</option>
                    <option>Sweden</option>
                    <option>Switzerland</option>
                    <option>Ukraine</option>
                    <option>United Kingdom</option>
                    <option>Vatican City</option>
                    <option>Antigua and Barbuda</option>
                    <option>Bahamas</option>
                    <option>Barbados</option>
                    <option>Belize</option>
                    <option>Canada</option>
                    <option>Costa Rica</option>
                    <option>Cuba</option>
                    <option>Dominica</option>
                    <option>Dominican Republic</option>
                    <option>El Salvador</option>
                    <option>Grenada</option>
                    <option>Guatemala</option>
                    <option>Haiti</option>
                    <option>Honduras</option>
                    <option>Jamaica</option>
                    <option>Mexico</option>
                    <option>Nicaragua</option>
                    <option>Panama</option>
                    <option>Saint Kitts and Nevis</option>
                    <option>Saint Lucia</option>
                    <option>Saint Vincent and the Grenadines</option>
                    <option>Trinidad and Tobago</option>
                    <option>United States of America</option>
                    <option>Australia</option>
                    <option>Fiji</option>
                    <option>Kiribati</option>
                    <option>Marshall Islands</option>
                    <option>Micronesia</option>
                    <option>Nauru</option>
                    <option>New Zealand</option>
                    <option>Palau</option>
                    <option>Papua New Guinea</option>
                    <option>Samoa</option>
                    <option>Solomon Islands</option>
                    <option>Tonga</option>
                    <option>Tuvalu</option>
                    <option>Vanuatu</option>
                    <option>Argentina</option>
                    <option>Bolivia</option>
                    <option>Brazil</option>
                    <option>Chile</option>
                    <option>Colombia</option>
                    <option>Ecuador</option>
                    <option>Guyana</option>
                    <option>Paraguay</option>
                    <option>Peru</option>
                    <option>Suriname</option>
                    <option>Uruguay</option>
                    <option>Venezuela</option>





                    
                </select>
              </div>
              <div class="mb-3">
                  <label for="inputsubject">Province</label>
                  <input type="text" class="form-control mt-1" id="province" name="province" placeholder="Province" required>
              </div>
              <div class="mb-3">
                  <label for="inputsubject">City</label>
                  <input type="text" class="form-control mt-1" id="city" name="city" placeholder="City" required>
              </div>
              <div class="mb-3">
                  <label for="inputsubject">Postal Code</label>
                  <input type="text" class="form-control mt-1" id="postal-code" name="postal-code" placeholder="Postal code" required>
              </div>
            <div class="mb-3">
                <label for="inputmessage">Address</label>
                <textarea class="form-control mt-1" id="address" name="address" placeholder="Address" rows="4" required></textarea>
            </div>
            



            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-lg px-3 btn-submit">Purchase</button>
                </form>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Order Form End -->

    <!-- Bootsrap java -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/tmplt/js/jquery-1.11.0.min.js"></script>
    <script src="assets/tmplt/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/tmplt/js/bootstrap.bundle.min.js"></script>
    <script src="assets/tmplt/js/templatemo.js"></script>
    <script src="assets/tmplt/js/custom.js"></script>
</body>
</html>
{% endblock %}